[color]
	ui = auto
[alias]
	cp = cherry-pick
	hist = log --oneline --graph --decorate --all
	yesterday = log --since '1 day ago' --oneline --author nicolas@ritouet.com
	ac = !git add -A && git commit -m
	co = checkout
	last = log --name-status HEAD^..HEAD
	ps = push origin master
	pl = pull origin master
	st = status
	alias = "!git config -l | grep alias | cut -c 7-"
[user]
        name = NicolasRitouet
        email = nicolas@ritouet.com
